= simple_form_for(@tecnico) do |f|
  = f.error_notification

  .form-inputs
    = f.input :nome
    = f.input :cpf
    = f.input :rg
    = f.input :endereco
    = f.input :dataadm
    = f.input :salario

  .form-actions
    = f.button :submit
